<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <classes>
  <class name = "org.sample.Tasktng"/>
	<parameter name = "Firstname" value ="Arun"></parameter>
	<parameter name = "last" value ="kumar"></parameter>
	<parameter name = "address" value ="Flat no sakthivelbuilders"></parameter>
	<parameter name = "email" value ="Arundsss21@GMAIL"></parameter>
	<parameter name = "Phone" value ="8015822233"></parameter>
	<parameter name = "pass" value ="Arabic"></parameter>
	<parameter name = "spass" value ="testing"></parameter>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
